@import url('https://fonts.googleapis.com/css?family=Caveat|Rock+Salt|Schoolbell&display=swap');
@font-face {
    font-family: 'Swiss911';
    src: url('../fonts/Swiss911-XCm-BT.ttf') format('truetype');
  
}
@font-face{
  font-family: "Gyparody";
  src: url('../fonts/gyparody.ttf') format('truetype');
}
@font-face{
  font-family: "Univers LT Std Black";
  src: url('../fonts/UniversLTStd-Black.otf');
}
*{
	margin:0;
	padding:0;
	box-sizing:content-box;
}
body{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#170460+0,3d035a+8,74015c+20,bb375c+30,cd686c+40,cd686c+40,f1e792+50,cd686c+60,bb375c+70,74015c+80,3d035a+92,170460+99 */
  background: linear-gradient(to bottom, rgba(23,4,96,1) 0%,rgba(61,3,90,1) 8%,rgba(116,1,92,1) 20%,rgba(187,55,92,1) 30%,rgba(205,104,108,1) 40%,rgba(205,104,108,1) 40%,rgba(241,231,146,1) 50%,rgba(205,104,108,1) 60%,rgba(187,55,92,1) 70%,rgba(116,1,92,1) 80%,rgba(61,3,90,1) 92%,rgba(23,4,96,1) 99%);
  width: 100%;
}

#container{
  counter-reset: score_p1 score_p2 score_p3;
  width:860px; 
  margin:0 auto;
  padding-bottom: 20px;
  position: relative;	
}
  

h1{
  font-family: Gyparody, Impact, fantasy;
  font-size:4.5em;
  text-align: center;
  color:#e3e1e6;
  text-shadow: 4px 4px 2px rgba(02,2,62,0.6);
}

#board{
  margin-top:20px;
}
.row, .cell{
  vertical-align: top;
  border: 3px solid black;
}

.row{
  margin: 0 auto;
  width:780px;
  border-bottom:none;
  height: 80px;
}
/* check the double border if you have to rearrange the board */
.row#categories, .row:last-of-type{
  border-bottom: 3px solid black;
}
.cell{
  width:124px;
  height:80px;
  display: table-cell;
  font-family: "Swiss911", sans-serif;
  color: #fff;
  background-color: #0c229a;
  text-align: center;
  vertical-align: middle;
} 
#categories .cell{
  font-size:1.6em;
  letter-spacing: .12em;
  
}
.cell.amount .question{
  color:#f4ab4c;
  font-size: 3.2em;
  text-shadow: 5px 4px 0px rgba(0,0,0,1);
}

/* player boards */
.players{
  margin: 10px auto;
  width:488px;
}

.player, .player .score, .player .name{
  width: 150px;
}
.player{
  width: 150px;
  display: inline-block;
  border: 5px solid #000;
  background-color: #0c229a;
  color: #fff;
}
.player .score{
  font-family: "Univers LT Std Black", sans-serif;
  font-size:1.6em;
  text-align: center;
  height:35px;
  line-height: 40px;
  border-bottom: 5px solid black;
}
.player .score:before{  content: "$ ";  }
.player.player_1 .score:after{  content: counter(score_p1);  }
.player.player_2 .score:after{  content: counter(score_p2);  }
.player.player_3 .score:after{  content: counter(score_p3);  }

.player .name{
  height: 60px;
  line-height: 50px;
  text-align: center
}
.player .name.p_name_1{
  font-size:2.5em
}
.player .name.p_name_2{
   font-size:2em;
  letter-spacing: .4em
}
.player .name.p_name_3{
  font-size: 2.7em;
  transform: rotate(-8deg);
}
.p_name_1{ font-family: 'Caveat', cursive; }
.p_name_1:after{ content:"Adele";  }
.p_name_2{ font-family: 'Rock Salt', cursive; }
.p_name_2:after{ content:"Bob";  }
.p_name_3{ font-family: 'Schoolbell', cursive; }
.p_name_3:after{ content:"Henri";  }

input[type="checkbox"], 
input[type="radio"],
.result{
  display: none;
}
.result div{
  height: 30px;
  line-height: 30px;
}
.result div.correct{
  background-color: #4e9362;
}
.result div.incorrect{
  background-color: #ad4e4e;
}
.result label{
  cursor:pointer;
  font-family: "Univers LT Std Black", sans-serif;
  font-size:.2em;
  color:white;
}

input[type="checkbox"]:checked+label.question{
  display: none;
}
input[type="checkbox"]:checked ~ .result{
  display:block;
  position: relative;
}
.wrong.p_1:checked ~ .result .incorrect label.p_name_1,
.wrong.p_1:checked ~ .result .correct label.p_name_1,
.wrong.p_2:checked ~ .result .incorrect label.p_name_2,
.wrong.p_2:checked ~ .result .correct label.p_name_2,
.wrong.p_3:checked ~ .result .incorrect label.p_name_3,
.wrong.p_3:checked ~ .result .correct label.p_name_3{
  visibility: hidden;
  pointer-events: none;
  cursor: not-allowed;
}
.wrong.p_1:checked ~ .wrong.p_2:checked ~ .wrong.p_3:checked ~ .result,
input[type="radio"][name$="_yes"]:checked ~ .result{
/*  display: none;*/
  visibility: hidden;
}
.result .correct label:hover{
  cursor: pointer;
  color:green;
}
.result .incorrect label:hover{
  cursor: pointer ;
  color:red;
}

/* scoring */
.row_200 .wrong.p_1:checked ~ .result .incorrect label.p_name_1{   counter-increment: score_p1 -200;  }
.row_200 .wrong.p_2:checked ~ .result .incorrect label.p_name_2{   counter-increment: score_p2 -200;  }
.row_200 .wrong.p_3:checked ~ .result .incorrect label.p_name_3{   counter-increment: score_p3 -200;  }

.row_400 .wrong.p_1:checked ~ .result .incorrect label.p_name_1{   counter-increment: score_p1 -400;  }
.row_400 .wrong.p_2:checked ~ .result .incorrect label.p_name_2{   counter-increment: score_p2 -400;  }
.row_400 .wrong.p_3:checked ~ .result .incorrect label.p_name_3{   counter-increment: score_p3 -400;  }

.row_600 .wrong.p_1:checked ~ .result .incorrect label.p_name_1{   counter-increment: score_p1 -600;  }
.row_600 .wrong.p_2:checked ~ .result .incorrect label.p_name_2{   counter-increment: score_p2 -600;  }
.row_600 .wrong.p_3:checked ~ .result .incorrect label.p_name_3{   counter-increment: score_p3 -600;  }

.row_800 .wrong.p_1:checked ~ .result .incorrect label.p_name_1{   counter-increment: score_p1 -800;  }
.row_800 .wrong.p_2:checked ~ .result .incorrect label.p_name_2{   counter-increment: score_p2 -800;  }
.row_800 .wrong.p_3:checked ~ .result .incorrect label.p_name_3{   counter-increment: score_p3 -800;  }

.row_1000 .wrong.p_1:checked ~ .result .incorrect label.p_name_1{   counter-increment: score_p1 -1000;  }
.row_1000 .wrong.p_2:checked ~ .result .incorrect label.p_name_2{   counter-increment: score_p2 -1000;  }
.row_1000 .wrong.p_2:checked ~ .result .incorrect label.p_name_2{   counter-increment: score_p2 -1000;  }
.row_1000 .wrong.p_3:checked ~ .result .incorrect label.p_name_3{   counter-increment: score_p3 -1000;  }

.row_200 .right.p_1:checked ~ .result .correct label.p_name_1 {   counter-increment: score_p1 200;  }
.row_200 .right.p_2:checked ~ .result .correct label.p_name_2 {   counter-increment: score_p2 200;  }
.row_200 .right.p_3:checked ~ .result .correct label.p_name_3 {   counter-increment: score_p3 200;  }

.row_400 .right.p_1:checked ~ .result .correct label.p_name_1{   counter-increment: score_p1 400;  }
.row_400 .right.p_2:checked ~ .result .correct label.p_name_2{   counter-increment: score_p2 400;  }
.row_400 .right.p_3:checked ~ .result .correct label.p_name_3{   counter-increment: score_p3 400;  }

.row_600 .right.p_1:checked ~ .result .correct label.p_name_1{   counter-increment: score_p1 600;  }
.row_600 .right.p_2:checked ~ .result .correct label.p_name_2{   counter-increment: score_p2 600;  }
.row_600 .right.p_3:checked ~ .result .correct label.p_name_3{   counter-increment: score_p3 600;  }

.row_800 .right.p_1:checked ~ .result .correct label.p_name_1{   counter-increment: score_p1 800;  }
.row_800 .right.p_2:checked ~ .result .correct label.p_name_2{   counter-increment: score_p2 800;  }
.row_800 .right.p_3:checked ~ .result .correct label.p_name_3{   counter-increment: score_p3 800;  }

.row_1000 .right.p_1:checked ~ .result .correct label.p_name_1 {   counter-increment: score_p1 1000;  }
.row_1000 .right.p_2:checked ~ .result .correct label.p_name_2 {   counter-increment: score_p2 1000;  }
.row_1000 .right.p_3:checked ~ .result .correct label.p_name_3{   counter-increment: score_p3 1000;  }
